html,
body {
    padding: 0;
    margin: 0;
    background-color: #111;
    min-width: 100vw;
    min-height: 100vh;
}

body {
    display: grid;
    place-items: center;
    grid-template-columns: 9fr 3fr;
}

body canvas {
    padding: 0;
    margin: 0;
}

canvas {
    border-radius: 5px;
}
.inputs {
    background-color: #222;
    height: 100vh;
    width: 100%;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.inputs form {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    padding-inline: 0.5rem;
}

hr {
    background-color: #aaa;
    color: #aaa;
    width: 90%;
    height: 0px;
    margin-block: 1rem;
}
